.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}

.logo {
  flex: 3;
  padding: 20px;
  margin-left: 72px;
}

.pesquisa {
  flex: 12;
  display: flex;
  align-items: center;
}

.pesquisa .MuiTextField-root {
  width: 100%;
}

.lupa {
  margin-left: 5px;
}

.shopping {
  position: flex;
  right: 0px;
  left: 150px;
  top: 0px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -30px;
  margin-left: -300px;
}
.procura {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px; /* Correção da propriedade */
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-info {
  margin-top: 10px;
}

/* Estilos para esconder o menu em resoluções menores que 1920x1080 */
@media screen and (max-width: 700px) {
  .menu {
    display: none;
  }

  .logo {
    margin-left: 0px;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .menu {
    margin-left: -50px;
    gap: 0px;
  }
  .logo {
    margin-left: 05px;
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
